
<!DOCTYPE html>
<html>
    <head>
        <title>Trekking in Love</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Trekking in Love</a></h1>
        </header>

        <article>
            <time>published: 23.03.2024, 16:53</time>
            <h2><a href="">My first post</a></h2>
            <p>Gran Sasso D'Italia</p>
        </article>

        <article>
            <time>published: 23.03.2024, 16:53</time>
            <h2><a href="">My second post</a></h2>
        </article>
    </body>
</html>